.contacts{
    position: relative;
    display: flex;
    background-color:  rgb(247, 247, 255);
    height: 100vh;
    img{
        width: 32px;
        height: 32px;
        color: rgb(109, 109, 110);
        transition: 0.2s;
        filter: opacity(0.7);
        @media screen and (max-width: 1024px) {
            width: 40px;
            height: 40px;
          }
    }
    img:hover{
        filter: opacity(0.9);
    }
    a:hover{
        
        filter: opacity(0.6);
    }
    &__content{
        width: 21vw;
        padding-left: 30vw;
        text-align: center;
        @media screen and (max-width: 1024px) {
            padding: 0;
            width: 100vw;
          }
    }

    a{
        color: rgb(109, 109, 110);
        text-decoration: none;
        transition: 0.2s;
    }
    &-block-primary{
        a{
            margin-left: 1vh;
        }
    }
    &-block-secondary{
        .contact-icons{
            .icon{
                display: flex;
                align-items: center;
                margin: 1vh auto;
                height: 5vh;
                width: 18vh;
                
                h5{
                    margin-left: 1vw;
                    @media screen and (max-width: 1024px) {

                        margin-top: 0;
                      }
                }
                img{
                    @media screen and (max-width: 1024px) {
                        margin-bottom: 30px;
                
                      }
                }
                @media screen and (max-width: 1024px) {
                    margin-top: 0;
                    margin-left: 40vw;
                  }
            }
        }
    }
    &__bg{
        position: absolute;
        z-index: 0;
        bottom: 0;
        width: 30vw;
        height: 100%;
        background-color: #dbe6de;
        background-image: url(../Assets/cat.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: auto 80%;
        @media screen and (max-width: 1024px) {
            display: none;
          }

    }
    @media screen and (max-width: 1024px) {
        height: 70vh;
        font-size: 2em;
      }
      .container{
        @media screen and (max-width: 1024px) {
           margin: 0;
          }
      }
}