$mainColor: #dbe6de;
$sakuraColor: #f0d9da;
$color: #2194E0;

@import './main.scss';
@import './summary.scss';
@import './projects.scss';
@import './skills.scss';
@import './footer.scss';
@import './contacts.scss';
@import './burger-menu.scss';