
main{
    overflow-x: hidden;
}

.projects{
    position: relative;
    background-color: $sakuraColor;
    width: 70vw;
    margin: auto;
    .description{
        height: 25%;
        width: 70%;
        margin-left: 4vw;
    }

    h3{
        font-size: 1.5em;
        margin: 0;
        padding-top: 2vh;
        text-align: center;
    }
    img{
        margin: auto;
        margin-top: 8vh;
        width: 84px;
        height: 84px;
    }
    
    .project{
        display:flex;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        height: 60vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    a{
        color: inherit;
        color: #fff;
        text-decoration: none;
    }
    
    .buttons{
        display: flex;
        margin: auto;
        margin-top: 8vh;
        justify-content: space-between;
        width: 70%;
        .button{
            width: 45%;
            height: 4vh;
            font-size: 2.2vh;
            background: rgb(91, 185, 72);
            border: none;
            border-radius: 25px;
            outline: none;
            transition: .5s;
        }
        .button:hover{
            background: rgb(112, 146, 184);
        }
    }
    &__bg, &__bg-2{
        position: absolute;
    background-color: #f0d9da;
    }
    &__bg{
    z-index: -1;
    top: 0;
    left: -35vh;
    width: 130vw;
    height: 65vh;
    }
    &__bg-2{
        top: 28vh;
        z-index: -1;
        left: -35vh;
        bottom: 14vh;
        width: 130vw;
        height: 60vh;
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        overflow: hidden;
    }
}

.slick-prev{
    position: absolute;
    right: 50%;
}
.slick-prev:before, .slick-next:before{

    font-size: 4vh;
    color: #4f4d4e;
}
.slick-slide{
    width: 25vw !important;
    height: 70vh;
    margin-top: 40px;
    margin-left: 5vw;
    margin-right: 5vw;

}
.arrow-pr{
    position: absolute;
    z-index: -3;
    margin-top: 8vh;
    height: 100px;
    background-color: #fff;
    img{
        margin-top: 30px;
        margin-left: 48vw;
        width: 50px;
        height: 50px;
    }
}