.name{
    color: rgb(134, 196, 76);
}
.arrow{
    background-color: $mainColor !important;
}
html{
scroll-behavior: smooth;
color: rgb(80, 80, 80);
}
*{
    font-family: 'Titillium Web', sans-serif;
}
.introduction{
    height: 86vh;
    background-color: $mainColor;
    background-image: url("../Assets/sakura2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 103%;
    font-size: 30px;
    &-info{
        z-index: 1;
        margin-left: 20%;
        padding-top: 200px;
    }
}
.classification{
    color: rgb(228, 106, 106);
}
.link{
    margin-top: 20px;
    font-size: 0.70em;

    a{
        color: inherit;
        color: rgb(107, 166, 177);
        text-decoration: none;
    }
    
    a:hover{
        color: rgb(253, 113, 57);
    }
}

.about-me{
    position: relative;
    background-color: $mainColor;
    
    &__container{
        width: 54vw;
        font-size: 1.5rem;
        padding-top: 20vh;
        margin-left: 23vw;
        height: 70vh;
    }
    h2{
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
    }
    .left-line{
        position: absolute;
        top: 29vh;
 
        height: 43vh;
        margin-left: 20vw;
        border-left: 2px solid rgb(160, 155, 155);
    }
    .right-line{
        position: absolute;
        margin: 0;
        top: 29vh;
        right: 21vw;
        height: 43vh;
      
        border-right: 2.5px solid rgb(160, 155, 155);
    }
    p{
        margin-bottom: 0;
    }
    img{
        position: absolute;
        top: 160px;
        right: 10px;
        height: 75px;
    }
}
.arrow{
    height: 100px;
    background-color: rgb(240, 245, 243) !important;
    img{
        margin-top: 30px;
        margin-left: 48vw;
        width: 50px;
        height: 50px;
    }
}
