.name{
    color: rgb(134, 196, 76);
}
.introduction{
    font-size: 30px;
    margin: 0 auto;
}
.classification{
    color: rgb(250, 143, 101);
}
a{
    color: inherit;
    color: rgb(153, 211, 192);
    text-decoration: none;
}